<div id="connectWithMe">
    <h3>Connect with me!</h3>
    <hr class="fancy-hr1">
    <div class=" ">
        <div>
            <div class=""  >
                <!-- <img style="margin-bottom: 0px;"
                    src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100"
                    width="24" alt="">
                <h5>Instagram</h5> -->
            </div>
            <ul class="icons insta">

                <li><a href="https://www.instagram.com/kidlitconnection/" target="_blank"><button><div class="getFlexed3">
                    <img style="margin-right: 5px;border-radius: 5px;"
                        src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100"
                        width="20" alt="">  kidlitconnection
                </div></button></a>
                </li>
                <li><a href="https://www.instagram.com/montanaexplorer/" target="_blank"><button><div class="getFlexed3">
                    <img style="margin-right: 5px;border-radius: 5px;"
                        src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100"
                        width="20" alt="">montanaexplorer
                </div></button></a>
                </li>
                <li><a href="https://www.instagram.com/scbwimontana/" target="_blank"><button><div class="getFlexed3">
                    <img style="margin-right: 5px;border-radius: 5px;"
                        src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100"
                        width="20" alt="">scbwimontana
                </div></button></a>
                </li>
                <li style="font-size: 14px;"><a href="/newsletter-sign-up/"><button>Join my email list</button></a></li>
                <li style="font-size: 14px;"><a href="/contact-me/"><button>Send me a message</button></a></li>
            

            </ul>
        </div>

<div> </div>

    </div>

</div>
</p>


<!-- 	<div class="sidebar">

									<h4
											style="margin-top:3rem;display:block;background-color: #3d47c1;padding:2rem; margin-top: 0px;text-shadow: 0px 0px 15px #f8eddf;">
											Connect with me</h4>
										<div>
											<div style="margin:1rem">
												<img style="margin-bottom: 0px;"
													src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100"
													width="24" alt="">
												<h5>Instagram</h5>
												<ul class="icons insta">

													<li><a
															href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a>
													</li>
													<li><a
															href="https://www.instagram.com/montanaexplorer/">@montanaexplorer</a>
													</li>
													<li><a
															href="https://www.instagram.com/scbwimontana/">@scbwimontana</a>
													</li>

												</ul>

											</div>
											<h5>Kidlit Connection News You Can Use!</h5>
											<p class="content"><a href="/newsletter-sign-up/">Email sign up</a></p>

											<h5>Contact Me</h5>

											<p class="content pink-hover"><a href="/contact-me/">Send a message!</a></p>
										</div> -->