	<!-- Footer -->
    <footer id="footer">
      
        <p class="copyright"><!-- &copy; {{site.author.name}} | --> Site by <a href="https://www.studio303.dev" target="_blank">Studio303</a></p>
    </footer>