<div class=" fancyCallout" style="margin: 3rem 0 5rem;">


   
        <div class="getFlexed">
            <img src="images/KLC - children reading.jpeg" class="little-lightbox2" width="410px" alt=""
                style="max-width: 95%;display:block;margin:0 auto">
            <div style="font-size: 18px;margin:1.5rem auto;text-align: center;width:60%;display:block; ">"Kids lose themselves in books, they find themselves there too."
                <br>--Lewis
                Keegan</div>
        </div>
  



</div>