<ul class="topnav" id="new-nav">
    <a href="javascript:void(0);" class="icon pink-hover" onclick="myFunction()">MENU
        <i class="fa fa-bars"></i>
      </a>
    <li class="new-nav-li"><a href="/" class="  kalam  ">Home</a></li>
    <li class="new-nav-li"><a href="/montanas-memory-day/" class=" kalam  ">{{site.Page1_Title}}</a></li>
    <!-- <li class="new-nav-li"><a href="/kidlit-resources/" class=" kalam">{{site.Page2_Title}}</a></li> -->
     
    <li class="new-nav-li"><a href="/my-story/" class=" kalam">{{site.Page4_Title}}</a></li>
    <li class="new-nav-li"><a href="/contact-me/" class=" kalam">{{site.Page5_Title}}</a></li>
    <!-- <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">MENU
        <i class="fa fa-bars"></i>
      </a></li> -->
</ul>

<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function myFunction() {
var x = document.getElementById("new-nav");
if (x.className === "topnav") {
x.className += " responsive";
} else {
x.className = "topnav";
}
} 
</script>