<!DOCTYPE HTML>

<html>
    {%include "head.html"%}
    <body  >

        <!-- Wrapper -->
        <div id="wrapper" style="min-height: 1vh;" >

       
            <article   class="panel special">

                <div class="content" style="width:100%;padding:0px;">
                    <div class="inner">
                    	<header id="homepage-header-2">
								
									<div id="header-title"><h1 ><a href="/" style="text-decoration:none;border-bottom:0px solid gray">{{site.title}}</a></h1><span class="kalam">The author website of Sue Lawrence</span>
										</div>
									
									 {%include "nav.html"%}
										 
								</header>
                        <div>
                        <div class="container">
		<div class="row">   {{content | safe}} </div></div>
                        </div>
 
                     </div></div></article>
                     {%include "footer.njk"%}
                     {%include "scripts.html"%}
                     </div>
                </body>
            </html>