<div
  class="callout"
  style="max-width: 440px; font-size: 14px; text-align: center"
>
  <h4 style="margin-bottom: 10px;">What's Happening with MMD</h4>
  <hr style="margin-top: 1rem;" />
  <ul id="photo-galleries-list">
    <li>
      <a href="/awards-and-honors/" class="lighter-hover bold">Awards and Honors</a>   </li>
      <li><a href="/buy-mmd/" class="lighter-hover bold">Buy MMD Here</a></li>
      <li>
        <a href="/reading-at-rmc/" class="lighter-hover bold"
          >Rocky's Reading Series</a
        >
      </li>
      <li><a href="/music-inspired-by-mmd/" class="lighter-hover bold">Music Inspired by MMD</a></li>
      <li><a href="/behind-the-scenes-with-the-illustrator/" class="lighter-hover bold">Behind the Scenes with the Illustrator</a></li>
      <li><a href="/rmc-gallery-opening/" class="lighter-hover bold">Erika Wilson Gallery Opening</a></li>
 
  </ul>
</div>
