<div
  class="callout"
  style="max-width: 440px; font-size: 14px; text-align: center"
>
  <h4 style="margin-bottom: 10px;">What's Happening with MMD</h4>
  <hr style="margin-top: 1rem;" />
  <ul id="photo-galleries-list">
    <li>
      <a href="/awards-and-honors/">Awards and Honors</a>   </li>
      <li><a href="/buy-mmd/">Buy MMD Here</a></li>
      <li>
        <a href="/reading-at-rmc/" class="lighter-hover"
          >Rocky's Reading Series</a
        >
      </li>
      <li><a href="/music-inspired-by-mmd/">Music Inspired by MMD</a></li>
 
  </ul>
</div>
