<div id="purchaseCalloutNarrow" class="callout2">
    
    <ul style="margin:0px;padding:0px;">
        <li> <em>Montana’s Memory Day</em> is available from these retailers: </li>
    <li>
      <a class="lighter-hover"
        href="https://thishouseofbooks.indielite.org/book/9781645434603"
        target="_blank"
        >This House of Books</a
      >
    </li>
    <li> 
      <a class="lighter-hover"
        href="https://mascotbooks.com/mascot-marketplace/buy-books/childrens/picture-books/montanas-memory-day-a-nature-themed-foster-adoption-story/"
        target="_blank"
        >Mascot Books</a
      >
    </li>
    <li>
      <a class="lighter-hover"
        href="https://www.amazon.com/Montanas-Memory-Day-nature-themed-adoption/dp/1645434605/ref=sr_1_1?crid=3L2TLL4G7MU90&dchild=1&keywords=montana%27s+memory+day&qid=1633989405&s=books&sprefix=montana%27s%2Cstripbooks%2C243&sr=1-1"
        target="_blank"
        >Amazon</a
      >
    </li>
    <li>
      <a class="lighter-hover"
        href="https://www.barnesandnoble.com/w/montanas-memory-day-sue-lawrence/1139889723?ean=9781645434603"
        target="_blank"
        >Barnes & Noble</a
      >
    </li>
    <li>
      <a class="lighter-hover"
        href="https://www.target.com/p/montana-s-memory-day-by-sue-lawrence-hardcover/-/A-84276686#lnk=sametab"
        target="_blank"
        >Target</a
      >
    </li>
 
  </ul>
</div>