---

---
<!DOCTYPE HTML>
 
<html>
 {%include "head.html"%}
	<body class="is-preload-0 is-preload-1">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Home -->
					<article id="home" class="panel special wide-panel">
						{# <div class="image">
							<!-- <img src="images/stock-vector-seamless-pattern-of-kids-reading-colorful-books-back-to-school-vector-background-with-diverse-331241861.jpg" alt="" data-position="center center" /> -->
							<!-- <img src="images/pattern_4.png" alt="" data-position="center center" /> -->
							<img src="images/Pattern1_White.png" alt="" data-position="center center" />
						</div> #}
						<div class="content review-content">
							<div class="inner">
								<header>
									<h1 style="font-size:1.75rem;">{{title}}</h1>
                               
                                    <h2 class="smaller-h2 ">Recommended by Sue Lawrence</h2>
								</header>
								 
                                <div class="flex-container">
                                   <div class="flex-container">
<p>
     
        <img src="{{book_cover}}?nf_resize=fit&w=400" alt="Book Cover" class="rec-book-cover">
</p>
</div> 
<div class="align-left">
	
	<p class="align-left">{{recommendation_content | markdownify | safe  }}</p>
	
	<p class="align-left"><ul class="align-left" >
	    <li>{{recommendation_genre}}</li>
	    <li>Reading level: {{recommendation_reading_level}}</li>
	    <li>{{recommendation_publication_info}}</li>
	</ul></p>
</div>
                                </div>
							
								<ul class="icons">
									<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a><a href="https://www.instagram.com/allthegoodthatisee/">@AllTheGoodThatISee</a></li>
									{# <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a><a href="https://www.instagram.com/scbwimontana/">@scbwimontana</a></li> #}
										 
								</ul>
							</div>
						</div>
					</article>
 

			{%include "footer.njk"%}

			</div>

{%include "scripts.html"%}
	</body>
</html>