<div class="row" id="top-homepage"  >
 <h3 style="text-align: center;">Montana's Memory Day has arrived!</h3> 
								<div class="col-5">	
									<div id="book-covers-angled2">
										<img src="images/MontanasMemoryDay_webcover.jpg" alt=""
											id="front-cover-homepage2">
								 
									</div>
                                    <!-- <a href="https://youtu.be/tRbRJAbPMfs" target="_blank" style="border: none"><button style="font-size: 14px;margin:1rem 0;max-width: 95%;">Book trailer</button></a> -->
								</div>

								<div class="col-7">
									<div class="callout" id="kirkusQuote">"A nature theme abounds, but it’s the striking
										closeness between Montana and New Mom that will stick with readers in this
										warm-blanket bedtime story." <br>&mdash;<br><a href="https://www.kirkusreviews.com/book-reviews/sue-lawrence/montanas-memory-day/">
											<span style="font-style: italic;">Kirkus
												Reviews</span> (starred review)
										</a>
									</div>
										{%include purchaseBox.html%}
								</div>
							</div>