<div id="whwmmd-showcase">
  <div class="row">
	  <h3 style="text-align: center"><em>What's Happening with MMD</h3>
	  <div class="col-12">
	 <p style="text-align: left;font-style: normal;">Erika Wilson's “Illustrating Montana's Memory Day” exhibit was displayed in the Exterior Case
of Rocky Mountain College's Ryniker-Morrison Gallery from January 12-28, 2022. Erika is
excited to be teaching her linocut and letterpress techniques to the College's art students in a
Printmaking course in the Spring of 2023. To see images of this exhibit's Opening Reception,
please <a href="/rmc-gallery-opening/"> click here.</a></p>
	  </div>
 <img src="images/uploads/rmc-gallery-opening/RMG-5_cropped.jpg?nf_resize=fit&w=380" style="max-width: 90%;display: block;margin:1rem auto;" class="little-lightbox4">
  </div>
 
</div>