<div id="whwmmd-showcase">
  <div class="row">
	  <h3 style="text-align: center"><em>What's Happening with MMD</h3>
	  <div class="col-12">
	 <p>Occaecat qui tempor cupidatat do voluptate duis elit culpa culpa. Irure consequat elit do adipisicing. Reprehenderit Lorem proident occaecat eu exercitation velit enim velit non labore officia aliqua reprehenderit ipsum. <a href="#">Learn more.</a></p>
	  </div>
 <img src="images/uploads/rmc-gallery-opening/RMG-5_cropped.jpg?nf_resize=fit&w=380" style="max-width: 90%;display: block;margin:1rem auto;" class="little-lightbox4">
  </div>
 
</div>