---
layout: new_layout.njk
---
<article id="kidlit-resources"  class="text-left">
    
    <div class="content">
        
        <div class="inner">
            <header>
                <h2 class="text-center">{{site.Page2_Title}}</h2>
                <!-- <p class="kalam variablesubhead">{{kidlitResources.klr_subheading}}</p> -->
            </header>
         

            <ul class="rec-resource-ul">
                {% for item in kidlitResources.klr_content_top %}
                <li class="rec-resource-title">{{item.title}}</li>
                <li class="rec-resource-desc clearfix">{%if item.image%}<img src="{{item.image}}?nf_resize=fit&w=350" alt="" class="rec-resource-thumb">{%endif%}{{item.content | markdownify | safe}}
                    </li>
                {%endfor%}
                
            </ul>
             
          
             
        </div>
 
    </div>
</article>