.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gochi Hand", cursive;
  color: #111!important;
}
h1 {font-size: 3rem;}
h2 {
  font-size: 2.75rem;
}
h3 {font-size:1.45rem;}
h4 {font-size:1.15rem;}

.kalam{font-family: 'Kalam', cursive; }
.content{font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }
.type{font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

header p {font-size:1rem}

.rec-resource-ul {margin-left:0px;padding-left: 5px;}
.rec-resource-title {list-style-type: none;font-weight: bold;}
.rec-resource-desc {list-style-type: none;margin:5px 0 0 15px;}
#footer .copyright {color:#777}

.funderline::after {content: '';
  display: block;
  background-color: #cccccc;
  height: 1px;
  margin: .5rem 0 1.75rem 0;
  width: 2.5rem;}

 .tiling {
   background-repeat: repeat!important;
   /* background-size: auto!important; */
   background-size: initial!important;
 }
 .book-recc-unit {margin-bottom: 4.5rem;}

 .spacioush3 {
   margin: 4.5rem 0 2rem;
 }
 .rec-resource-thumb {max-height: 175px;float: left;margin: 15px 15px 15px 0;}

 .smaller-h2 {font-size:16px;}
 .wide-panel .content {width:90%!important}
 .review-content img, .book-cover-full{max-width: 400px;}
 .align-left{text-align: left;}
 .mw300{max-width: 300px;}
 .rec-book-cover{max-width: 300px;}
 
.insta li {
  display: block!important;
} 
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.newlogo {
  margin: 4rem auto 1rem
}
/* #7867be */
/* purple from our pics */

/* #2f2041  */
/* dark purple1 */

/* #2b2040 */
/* dark purple2 */

/* #cda5b0 */
/* muted purple */

/* #e36a7b */
/* pinky1 */

/* #e69591 */
/* pinky2 */

/* #87a1a2 */
/* tealy1 */
