.logo,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Gochi Hand", cursive;
}
.banner.style2 .content {
  /* background-color: #eb9d99; */
}
h2 {
  font-size: 2.75rem;
}

.kalam{font-family: 'Kalam', cursive; }
.content{font-family: 'Montserrat', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

header p {font-size:1rem}

/* #7867be */
/* purple from our pics */

/* #2f2041  */
/* dark purple1 */

/* #2b2040 */
/* dark purple2 */

/* #cda5b0 */
/* muted purple */

/* #e36a7b */
/* pinky1 */

/* #e69591 */
/* pinky2 */

/* #87a1a2 */
/* tealy1 */
