/* font-family: 'Amatic SC', cursive;

font-family: 'Crafty Girls', cursive;

font-family: 'Gloria Hallelujah', cursive;

font-family: 'Gochi Hand', cursive;

font-family: 'Indie Flower', cursive;

font-family: 'Kalam', cursive; */

.logo, h1, h2, h3, h4, h5, h6{font-family: 'Gochi Hand', cursive; }
/* .content{font-family: 'Kalam', cursive; } */

/* #2f2041  */
/* dark purple1 */

/* #2b2040 */
/* dark purple2 */

/* #cda5b0 */
/* muted purple */

/* #e36a7b */
/* pinky1 */

/* #e69591 */
/* pinky2 */

/* #87a1a2 */
/* tealy1 */