---
layout: recommendation.njk
title: "No Matter What: A Foster Care Story"
date: 2020-09-18
tags: ['recommendation']
book_cover: "/images/bookCovers/NoMatterWhat.jpg"
recommendation_content: 'In this fictional tale, a squirrel without a family of his own does everything he can to scare off would-be families
with practical jokes and a plan. It’s written by a former at-risk foster kid turned youth advocate, Josh Shipp, who is
now a motivational speaker and best-selling author of books for adults. Josh calls this book his “mostly
autobiographical tale about finding home."'
recommendation_genre: "Fiction based on a true story"
recommendation_reading_level: "ages 3-8"
recommendation_publication_info: "Published in 2020 by Familius"

---
 
<div class="flex-container">
<p>

    {# {% Image "{{book_cover}}", "Book cover" %} #}
     
     <img src="{{book_cover}}" alt="Book cover" class="rec-book-cover">  
</p>
</div> 

<p class="align-left">{{recommendation_content}}</p>

<p class="align-left"><ul class="align-left" >
    <li>{{recommendation_genre}}</li>
    <li>Reading level: {{recommendation_reading_level}}</li>
    <li>{{recommendation_publication_info}}</li>
</ul></p>
