---
layout: new_layout.njk
---
<article id="contact" class="text-left">
   
    <div class="content">
      
        <div class="inner">
            <header>
                <h2 class="text-center">{{site.Page5_Title}}</h2>
            </header>
            <span class="text-center content" style="font-size:18px">{{contact.contact_subheading | markdownify | safe}}</span>  
                 {%include colorlogo.html%}	
            <form name="contact" method="POST" data-netlify="true" style="">
                <p>
                  <label>Name: <input type="text" name="name" /></label>   
                </p>
                <p>
                  <label>Email: <input type="email" name="email" /></label>
                </p>
                 <p>
                  <label>Message: <textarea name="message"></textarea></label>
                </p>
                <p>
                  <button type="submit">Send</button>
                </p>
              </form>

              <p class="gallery-wrap">
                    <!-- first image is the fullsize the second is the thumb -->
                    {% for item in contact.gallery %}
                    <a data-fancybox="gallery" href="{{item.image}}?nf_resize=fit&w=750"><img src="{{item.image}}?nf_resize=fit&w=300" width="220" class="little-lightbox4a"></a>
                    {%endfor%}


                    <br><span class="photo-credit">click to enlarge</span>
                </p>
              
        </div>
      </div>
</article>
