<!DOCTYPE HTML>
 
<html>
 {%include head.html%}
	<body class="is-preload-0 is-preload-1">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Home -->
					<article id="home" class="panel special">
						<div class="image">
							 
							<img src="{{homepage.homepage_banner}}?nf_resize=fit&w=750" alt="" data-position="right center" />
						</div>
						<div class="content">
							<div class="inner">
								<header>
									
									<h1 >{{site.title}}</h1>
									
									<p  class="kalam variablesubhead">{{subheading}}
										</p> 
								</header>
								<nav id="nav">
									<ul class="actions stacked special animated spinY">
										<li><a href="#my-books" class="button kalam">{{site.Page1_Title}}</a></li>
										<li><a href="#kidlit-resources" class="button kalam">{{site.Page2_Title}}</a></li>
										<li><a href="#recommended-books" class="button kalam">{{site.Page3_Title}}</a></li>
										<li><a href="#about-me" class="button kalam">{{site.Page4_Title}}</a></li>
										<li><a href="#contact" class="button kalam">{{site.Page5_Title}}</a></li>
									</ul>
								</nav>
								
								<img style="margin-bottom: 0px;" src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100" width="24" alt="">
								<ul class="icons insta">
									 
									<li><!-- <a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a> --><a href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a></li>
									<li><!-- <a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a> --><a href="https://www.instagram.com/scbwimontana/">@scbwimontana</a></li>
										 
								</ul>
							 
							</div>{%include bwlogo.html%}
						</div>
					</article>

				<!-- My Books section -->
					<article id="my-books" class="panel secondary">
						<div class="image tiling">
							<img src="{{myBooks.myBooks_banner}}?nf_resize=fit&w=450" alt="" data-position="center center"/>
						 
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
								 
							</ul>
							<div class="inner">
								<header>
									<h2>My Books</h2>
									<p class="kalam variablesubhead">{{myBooks.myBooks_subheading}}</p>
									
								</header>
					 
									{{myBooks.myBooks_content_top | markdownify | safe}}
								<h3 class="funderline"><em>Montana's Memory Day</em></h3>
								 {{myBooks.myBooks_content_mmd | markdownify | safe}}
								 
							
						
	 
							
<h4>Behind the Scenes with the Illustrator!</h4>
 
  <a href="/illustrator-video/" style="text-decoration: none;border-bottom: 0px solid white;"><img src="images/Video_cover.png?nf_resize=fit&w=350" alt="" class=""></a>
  <br><a href="/illustrator-video">Watch a video of the illustrator working!</a>
  <br> <br>
				<p><h3 class="funderline">Work-in-Progress!</h3>
			 {{myBooks.myBooks_content_wip | markdownify | safe}}
						 	<img src="images/IMG-4260 Peggy Woods _ Mildred Mahan (Schweigert), Washington, DC, Summer, 1944_resized.JPG?nf_resize=fit&w=300" alt="" style="max-width: 300px;">
					 </p>			</div>
					{%include colorlogo.html%}
					</article>

	<!-- Kidlit Resources section -->
	<article id="kidlit-resources" class="panel secondary">
		<div class="image tiling">
			<img src="{{kidlitResources.klr_banner}}?nf_resize=fit&w=350" alt="" data-position="center center" />
		</div>
		<div class="content">
			<ul class="actions animated spinX">
				<li><a href="#" class="button small back">Back</a></li>
			</ul>
			<div class="inner">
				<header>
					<h2>Kidlit Resources</h2>
					<p class="kalam variablesubhead">{{kidlitResources.klr_subheading}}</p>
				</header>
			 

				<ul class="rec-resource-ul">
					{% for item in kidlitResources.klr_content_top %}
					<li class="rec-resource-title">{{item.title}}</li>
					<li class="rec-resource-desc clearfix">{%if item.image%}<img src="{{item.image}}?nf_resize=fit&w=350" alt="" class="rec-resource-thumb">{%endif%}{{item.content | markdownify | safe}}
						</li>
					{%endfor%}
					
				</ul>
				 
				<h3 class="funderline spacioush3">Conferences &amp; Webinars for Writers &amp; Illustrators</h3>
				<ul class="rec-resource-ul">
					{% for item in kidlitResources.klr_content_conferences %}
					<li class="rec-resource-title">{{item.title}}</li>
					<li class="rec-resource-desc clearfix">{%if item.image%}<img src="{{item.image}}?nf_resize=fit&w=350" alt="" class="rec-resource-thumb">{%endif%}{{item.content | markdownify | safe}}
						</li>
					{%endfor%}
					
				</ul>

				 <h3 class="funderline spacioush3">Other Helpful Info</h3>
				 <ul class="rec-resource-ul">
					{% for item in kidlitResources.klr_content_additional %}
					<li class="rec-resource-title">{{item.title}}</li>
					<li class="rec-resource-desc clearfix">{%if item.image%}<img src="{{item.image}}?nf_resize=fit&w=350" alt="" class="rec-resource-thumb">{%endif%}{{item.content | markdownify | safe}}
						</li>
					{%endfor%}
					
				</ul>
				 
			</div>
			{%include colorlogo.html%}
		</div>
	</article>

	<!-- Books I Recommend -->
	<article id="recommended-books" class="panel secondary">
		<div class="image tiling" >
			<img src="{{booksRec.booksRec_banner}}?nf_resize=fit&w=350" alt="" data-position="center center" />
		</div>
		<div class="content">
			<ul class="actions animated spinX">
				<li><a href="#" class="button small back">Back</a></li>
			</ul>
			<div class="inner">
				<header>
					<h2>Books I Recommend</h2>
					<p class="kalam variablesubhead" style="margin-bottom: 4rem;">{{booksRec.booksRec_subheading}}</p>
				</header>
 
				{% assign latestPosts = collections.recommendation | reverse %}
			  {% for post in latestPosts limit:3 %}
			  <div class="book-recc-unit">
				  <h3  >
	  				{{post.data.title}}
	  			</h3>
	  			
	  			<p>
	  				<img src="{{post.data.book_cover}}?nf_resize=fit&w=400" alt="Book Cover" class="rec-book-cover">
	  		</p>
	  	 
	  		
			  <p class="align-left">{{post.data.recommendation_content | markdownify | safe}}</p>
			  <p class="align-left"><ul class="align-left" >
				<li>{{post.data.recommendation_genre}}</li>
				<li>Reading level: {{post.data.recommendation_reading_level}}</li>
				<li>{{post.data.recommendation_publication_info}}</li>
			</ul></p>
			  </div>
				{% endfor %}  

				<h4 class="funderline">All My Recommendations!</h4>
				 <ul>
					{% for post in collections.recommendation reversed %}
					<li>  <a href="{{ post.url }}">{{ post.data.title }}</a> </li>
					{% endfor %}
					</ul>
			  
			</div>
			{%include colorlogo.html%}</div>
	</article>

				<!-- About Me -->
					<article id="about-me" class="panel secondary">
						<div class="image tiling">
							<img src="images/kidlitconnection_openbooks_2.jpg?nf_resize=fit&w=450" alt="" data-position="center center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>About Me</h2>
									<p class="kalam variablesubhead">Hello, I’m Sue Lawrence, writer and reader of children’s picture books that encourage, inform,
										and inspire.</p>
								</header>
								<p>
									<img src="images/Sue Lawrence, 08-24-2020_resized.jpg?nf_resize=fit&w=350" alt="" class="mw300"><br><span class="photo-credit">Photo credit: Halie Cardinal</span>
									<p>
										My debut picture book, <em>Montana's Memory Day</em>, is currently being illustrated
										by SCBWI Montana’s Regional Illustrator Coordinator, Erika Wilson, and will launch fall, 2021 from Mascot Books. Erika is using a linocut print and watercolor method to illustrate this foster kid/adoption story set in the middle of a Montana winter.
									</p>
									<p>
										My writing journey has been a roundabout one. I wrote poetry and a play as a teen in Alabama
										and won 1 st place in a creative writing contest at my high school when I was 17. Then I didn’t
										write again until I was in my 50’s and trying to transition out of healthcare. I joined critique
										groups, took non-credit college courses, entered every writing contest I could find, and attended
										writer’s conferences with stay-awake-all-night excitement. I was fortunate enough to win a few
										of those writing contests. I also racked up enough rejection letters to wallpaper a kitchen.
									</p>
									<p>
										Finally, after working as a Registered Nurse for over 40 years (including college), I gave away or
										threw away all my belongings except for what would fit in my car, and drove 1,900 miles night
										and day from Alabama to Montana to attend college, second time around. I arrived at Rocky Mountain
										College sight-unseen, three hours before the fall registration start time. This time, I majored in
										English: creative writing and soaked up the college experience with new college friends one-third my age. I don’t believe God gives us do-overs, but I’m a strong believer in the “do anew”!
									</p>
									<p class="gallery-wrap">
										<!-- first image is the fullsize the second is the thumb -->
										<a data-fancybox="gallery" href="images/RMC Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=750"><img src="images/RMC Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=180" width="180"></a><a data-fancybox="gallery" href="images/Graduation Day 05-04-2019, Sue Lawrence, Photo credit Marina Eshelman.jpg?nf_resize=fit&w=750"><img src="images/Graduation Day 05-04-2019, Sue Lawrence, Photo credit Marina Eshelman.jpg?nf_resize=fit&w=160" width="160"></a>
		<a data-fancybox="gallery" href="images/Friend zone, Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=750"><img src="images/Friend zone, Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=180" width="180"></a>
		
									</p>
									<p>
										When I earned my BA degree over a year ago at the age of 60, I was the oldest graduate to cross
										the commencement stage to receive my diploma. I liked the college so much I now work for it by
										day—as a writer, and write my kidlit at night.
									</p>
									<p>
										I’ve been an active member of SCBWI (Society of Children’s Book Writers and Illustrators)
										since 2016, and am SCBWI Montana’s volunteer Instagram social media maven.
									</p>
									<p sty>
										Montana is home now — it’s no surprise that my debut picture book is Montana-themed. I love
										this scenic state and its hard-working folk. I admit—it took me way too long to get here, but
										sometimes the long ‘round-about scenic route’s the best one, anyway. I speak from
										experience—you CAN reroute your life’s GPS at any age. Yes, at ANY age!
									</p>
								<p style="text-align: center;margin-bottom: 5px;">You can follow my journeys on Instagram:
									<ul style="list-style-type:none;text-align: center;margin-top:10px;">
										<li> <a href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a></li>
										<!-- <li> <a href="https://www.instagram.com/scbwimontana/">@scbwimontana</a></li> -->
										<li> <a href="https://www.instagram.com/montanaexplorer/">@montanaexplorer</a></li>
									</ul>
									 </p>
							</div>
							{%include colorlogo.html%}</div>
					</article>

				<!-- Contact section -->
					<article id="contact" class="panel secondary">
						<div class="image">
							<img src="images/kidlitconnection_funforest_clip1.jpg?nf_resize=fit&w=750" alt="" data-position="center center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>Contact</h2>
								</header>
								<p>I'd love to hear from you! Find me at <a href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a> on Instagram or please reach out through the form below. Thanks!</p> <br><br>
								 
								<form name="contact" method="POST" data-netlify="true">
									<p>
									  <label>Name: <input type="text" name="name" /></label>   
									</p>
									<p>
									  <label>Email: <input type="email" name="email" /></label>
									</p>
 									<p>
									  <label>Message: <textarea name="message"></textarea></label>
									</p>
									<p>
									  <button type="submit">Send</button>
									</p>
								  </form>
								  
							</div>
							{%include bwlogo.html%}	</div>
					</article>

			

			{%include footer.njk%}

			</div>

			<script>
				if (window.netlifyIdentity) {
				  window.netlifyIdentity.on("init", user => {
					if (!user) {
					  window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					  });
					}
				  });
				}
			  </script>
			{%include scripts.html%}

	</body>
</html>