<!DOCTYPE HTML>

<html>
{%include head.html%}

<body class="is-preload-0 is-preload-1">

	<!-- Wrapper -->
	<div id="wrapper" style="min-height: 1vh;">

		<!-- Home -->
		<article id="home" class="panel special">

			<div class="content" style="width:100%;padding:0px;">
				<div class="inner">

					<header id="homepage-header-2">

						<div id="header-title">
							<h1>{{site.title}}</h1><span class="kalam">The author website of Sue Lawrence</span>
						</div>

						{%include nav.html%}

					</header>

					<div>

						<div class="container"  >
							{%include topHomepageAnnouncement.html %}
									<div class="row" style="margin-top: 3rem;" >
								 
												<div class="col-6">
													<p class="content">
												<span class="kalam"
														style="font-size: 2.2rem;font-weight:bold;">Hi. I'm Sue.</span> <br> I'm
													a kidlit creator in Billings, Montana. <br>  
													<p>That's me on the right, standing with Erika Wilson, the illustrator of my
														new children's book: <em class="bold">Montana's Memory Day</em>.
													  It's a nature-themed foster/adoption story, set on a Montana
														farm in the middle of winter.   </p>
														
							
											 			{%include connectWithMe.html%}
								 
												</div>
												<div class="col-6">	<div id="homepage-top-pic">
														
											 
														
													  <img class="little-lightbox2"
															src="images/Illustrator, Erika Wilson Author, Sue Lawrence .jpg"
															alt="" width="450" style="max-width: 95%;">
												 
														</div></div>
											</div>
							 

									<!-- <div id="book-covers-angled">
				<img src="images/MontanasMemoryDay_webcover.jpg" alt="" width="350"  id="front-cover-homepage">
				<img src="images/MontanasMemoryDay_webcover- Back.jpg"  width="350" alt=""  class=" " id="back-cover-homepage"  >
			</div>   -->
								
	<!-- {%include whats-happening-with-mmd-showcase.html%}				 -->
		{%include kidsPicQuote.html%}	 {%include colorlogo.html%}	
						</div>






					</div>

				</div>
			</div>
		</article>
	

		{%include footer.njk%}



	</div>


	{%include scripts.html%}

</body>

</html>