---
title: Kidlit Connection Homepage
---

<!DOCTYPE HTML>
 
<html>
 {%include head.html%}
	<body class="is-preload-0 is-preload-1">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Home -->
					<article id="home" class="panel special">
						<div class="image">
							 
							<img src="images/kidlitconnection_funforest.jpg?nf_resize=fit&w=750" alt="" data-position="right center" />
						</div>
						<div class="content">
							<div class="inner">
								<header>
									
									<h1 >{{site.title}}</h1>
									
									<p  class="kalam variablesubhead">A website by Sue Lawrence, kidlit author and enthusiast
										</p> 
								</header>
								<nav id="nav">
									<ul class="actions stacked special animated spinY">
										<li><a href="#my-books" class="button kalam">My Books</a></li>
										<li><a href="#kidlit-resources" class="button kalam">Kidlit Resources</a></li>
										<li><a href="#recommended-books" class="button kalam">Books I Recommend</a></li>
										<li><a href="#about-me" class="button kalam">About Me</a></li>
										<li><a href="#contact" class="button kalam">Contact</a></li>
										<!--<li><a href="#elements" class="button">Elements</a></li>-->
									</ul>
								</nav>
								
								<img style="margin-bottom: 0px;" src="images/ew-instagram-logo-transparent-related-keywords-logo-instagram-vector-2017-115629178687gobkrzwak.png?nf_resize=fit&w=100" width="24" alt="">
								<ul class="icons insta">
									<!-- <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li> -->
									<!-- <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
									<li><!-- <a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a> --><a href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a></li>
									<li><!-- <a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a> --><a href="https://www.instagram.com/scbwimontana/">@scbwimontana</a></li>
										 
									<!-- <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li> -->
								</ul>
								
							</div>{%include bwlogo.html%}
						</div>
					</article>

				<!-- My Books section -->
					<article id="my-books" class="panel secondary">
						<div class="image tiling">
							<img src="images/kidlitconnection_blueforest_2.jpg?nf_resize=fit&w=450" alt="" data-position="center center"/>
						 
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
								 
							</ul>
							<div class="inner">
								<header>
									<h2>My Books</h2>
									<p class="kalam variablesubhead">I'm so happy you're here to learn more about my forthcoming book and my WWII themed work-in-progress!</p>
									
								</header>
								<p>I write kidlit for preschoolers to middle graders—from fiction to nonfiction—but, in all my
									books one thing shows through: they’re all rooted in the truth in some way.</p>
									<p>
										Montana’s Memory Day is a realistic fiction picture book for ages 5 and up inspired by a
compilation of the life stories of several real people.
									</p>
									<p>
										My WWII-themed work-in-progress is nonfiction for ages 8-12. It’s about two women who
worked behind-the-scenes doing top secret work for America’s government during wartime.
									</p>
								<h3 class="funderline"><em>Montana's Memory Day</em></h3>
								<p>My debut picture book, Montana’s Memory Day, is a nature-themed foster-to-adoption story set
									on a farm in Montana. It is being illustrated by 2-time published illustrator, Erika Wilson, who is
									also a 3rd generation Montana farmer, small business owner, former educator, and mom.
									Montana’s Memory Day will launch in the fall of 2021 from Mascot Books.</p>
								<p>I wrote this book to fulfill a need. I did not grow up as a foster kid, but I married two men who
									did. That is why I wrote this story—to give voice to older foster kids and teens who are grossly
									underrepresented in children’s books today. I struggled to find comparable titles that highlight
									the mixed feelings and inner struggles of this demographic in a relatable and understandable
									way. When I couldn’t find such a story, I wrote one.</p>
									<p>Illustrating a picture book is an artform. Once completed, Erika will have spent 14 months and
										hundreds of hours illustrating Montana’s Memory Day using a linocut print and watercolor
										method that she designed. In the video she’s carving one of the book’s page spreads out of lino
										(short for linoleum). It’s a meticulous and time-intensive task that she enjoys (she says!).</p>
										<p>You can find out more about Erika Wilson at these locations.
											<ul>
												<li>Website: <a href="https://erikawilsonbooks.com/">erikawilsonart.com</a></li>
												<li>Instagram: <a href="https://www.instagram.com/erikawilsonart/">@erikawilsonart</a> and <a href="https://www.instagram.com/windymillpress/">@windymillpress</a></li>
											</ul>
											
											
											</p>
								<!-- <h4>Illustration Style</h4>
								<p>
									<a data-fancybox="gallery" href="images/pic01.jpg"><img src="https://via.placeholder.com/150"></a>
	<a data-fancybox="gallery" href="images/spotlight01.jpg"><img src="https://via.placeholder.com/170"></a>
	<a data-fancybox="gallery" href="images/spotlight01.jpg"><img src="https://via.placeholder.com/155x125"></a>
								</p> -->
							
						
	 
							
<h4>Behind the Scenes with the Illustrator!</h4>
 
  <a href="/illustrator-video/" style="text-decoration: none;border-bottom: 0px solid white;"><img src="images/Video_cover.png?nf_resize=fit&w=350" alt="" class=""></a>
  <br><a href="/illustrator-video">Watch a video of the illustrator working!</a>
  <br> <br>
				<p><h3 class="funderline">Work-in-Progress!</h3>
			 
						<p>Peggy Davis and Mildred Mahan were not alike. They weren’t friends, either. In fact, they barely
							knew each other. But, for 18 months in the 1940’s, these cousins from Alabama shared an
							apartment while working for separate top government organizations in Washington, DC.		</p>
	<p>
	
	
								They never talked about the work they did—not even to each other. They had been sworn to
								secrecy and weren’t allowed to talk about it or write about it—to anyone. But, what they did
								behind-the-scenes was top secret work and highly classified and forever impacted the course of
								America’s national and military history.
	</p>	<img src="images/IMG-4260 Peggy Woods _ Mildred Mahan (Schweigert), Washington, DC, Summer, 1944_resized.JPG?nf_resize=fit&w=300" alt="" style="max-width: 300px;">
					 </p>			</div>
					{%include colorlogo.html%}
					</article>

	<!-- Kidlit Resources section -->
	<article id="kidlit-resources" class="panel secondary">
		<div class="image tiling">
			<img src="images/kidlitconnection_children_2.png?nf_resize=fit&w=350" alt="" data-position="center center" />
		</div>
		<div class="content">
			<ul class="actions animated spinX">
				<li><a href="#" class="button small back">Back</a></li>
			</ul>
			<div class="inner">
				<header>
					<h2>Kidlit Resources</h2>
					<p class="kalam variablesubhead">An up-to-date listing of conferences, books, courses, and other things of interest to kidlit authors!</p>
				</header>
				<!-- <h3 class="funderline">Craft Books</h3> -->
				<ul class="rec-resource-ul">
					<li class="rec-resource-title">SCBWI (Society of Children’s Book Writers and Illustrators)</li>
					<li class="rec-resource-desc"><p>
						The SCBWI (Society of Children’s Book Writers and Illustrators) is one international
							professional membership <strong>every</strong> aspiring kidlit writer and illustrator should invest in. I’ve been a
							member since 2016 and the benefits are <strong>more</strong> than worth the cost of an annual membership
							($95/year first year, then $80/year renewal annually after that. College/graduate student rate:
							$65/year to join, then $55/year renewal.)
					</p>
						<p>
							Find out about the professional development opportunities, book marketing and promotion, print
							and online resources, awards and grant opportunities, newsletters, and more on SCBWI’s
							Membership Benefits page: <a href="https://www.scbwi.org/membership-benefits-new/">https://www.scbwi.org/membership-benefits-new/</a></p>
							<p>
								When you join SCBWI, you automatically become a member of your region’s local
								chapter—which in our case, is Montana. Find out about our regional events at
								<a href="https://montana.scbwi.org/.">https://montana.scbwi.org/.</a>
							</p>
						</li>
				</ul>
				 
				<h3 class="funderline spacioush3">Conferences &amp; Webinars for Writers &amp; Illustrators</h3>
				<ul class="rec-resource-ul">
					<li class="rec-resource-title">SCBWI &amp; Smithsonian Nonfiction Workshop</li>
					<li class="rec-resource-desc">The SCBWI &amp; Smithsonian Nonfiction Workshop is scheduled for Friday and Saturday,
						November 6-8, 2020. There will be keynote speakers, book editor panels, author panels, special
						topics and more of interest to kidlit nonfiction writers and illustrators. Registration, faculty bios,
						and workshop schedule for this virtual workshop are at <a href="https://www.scbwi.org/events/nonfiction-
						workshop/">
							https://www.scbwi.org/events/nonfiction-
							workshop/
						</a>.</li>
				</ul>
				<!-- <ul class="rec-resource-ul">
					<li class="rec-resource-title">Resource Title</li>
					<li class="rec-resource-desc">Some details of why it's recommended. Labore minim commodo veniam sint ad esse ullamco.</li>
				</ul> -->

				 <h3 class="funderline spacioush3">Other Helpful Info</h3>
				 <ul class="rec-resource-ul">
					<li class="rec-resource-title">Montana Kids</li>
					
					<li class="rec-resource-desc"><img src="images/Montanakids.com.jpg?nf_resize=fit&w=350" alt="" class="rec-resource-thumb"><a href="https://www.montanakids.com" >Montanakids.com</a> provides a slew of info about Montana. They discuss our state’s history
						and statistics, main agricultural and business products, plants and animals, things to see and do,
						games and activities, and tell a few Montana-themed stories along the way.</li>
				</ul>
				 
			</div>
			{%include colorlogo.html%}
		</div>
	</article>

	<!-- Books I Recommend -->
	<article id="recommended-books" class="panel secondary">
		<div class="image tiling" >
			<img src="images/kidlitconnection_whiteforest_2.jpg?nf_resize=fit&w=350" alt="" data-position="center center" />
		</div>
		<div class="content">
			<ul class="actions animated spinX">
				<li><a href="#" class="button small back">Back</a></li>
			</ul>
			<div class="inner">
				<header>
					<h2>Books I Recommend</h2>
					<p class="kalam variablesubhead" style="margin-bottom: 4rem;">Check out my latest recommendations!</p>
				</header>
 

			  {% for post in collections.recommendation limit:3 reversed %}
			  <div class="book-recc-unit">
				  <h3  >
	  				{{post.data.title}}
	  			</h3>
	  			
	  			<p>
	  				<img src="{{post.data.book_cover}}?nf_resize=fit&w=400" alt="Book Cover" class="rec-book-cover">
	  		</p>
	  	 
	  		
			  <p class="align-left">{{post.data.recommendation_content}}</p>
			  <p class="align-left"><ul class="align-left" >
				<li>{{post.data.recommendation_genre}}</li>
				<li>Reading level: {{post.data.recommendation_reading_level}}</li>
				<li>{{post.data.recommendation_publication_info}}</li>
			</ul></p>
			  </div>
				{% endfor %}  

				<h4 class="funderline">All My Recommendations!</h4>
				 <ul>
					{% for post in collections.recommendation reversed %}
					<li>  <a href="{{ post.url }}">{{ post.data.title }}</a> </li>
					{% endfor %}
					</ul>
			  

				

				<!-- <div class="book-recc-unit">
					<h3 class="funderline"><em>Book Title</em></h3>
					<img src="https://via.placeholder.com/370x440" alt="">
					<p>Lorem ipsum dolor sit amet, magna etiam adipiscing elit. Vivamus in quam eu turpis venenatis euismod eget ac velit. Magna pharetra eleifend urna quis laoreet. Nullam quis urna iaculis metus ornare accumsan. Sed nunc lacus, lobortis nec ante sit amet.</p>
					<p>Vitae quis magna. Sed condimentum dui sed nunc dapibus dignissim. Sed at arcu gravida, vehicula massa ut, consectetur urna. Morbi eu venenatis turpis. In tincidunt pharetra etiam veroeros.</p>
				</div>
				 -->
				 
			</div>
			{%include colorlogo.html%}</div>
	</article>

				<!-- About Me -->
					<article id="about-me" class="panel secondary">
						<div class="image tiling">
							<img src="images/kidlitconnection_openbooks_2.jpg?nf_resize=fit&w=450" alt="" data-position="center center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>About Me</h2>
									<p class="kalam variablesubhead">Hello, I’m Sue Lawrence, writer and reader of children’s picture books that encourage, inform,
										and inspire.</p>
								</header>
								<p>
									<img src="images/Sue Lawrence, 08-24-2020_resized.jpg?nf_resize=fit&w=350" alt="" class="mw300"><br><span class="photo-credit">Photo credit: Halie Cardinal</span>
									<p>
										My debut picture book, <em>Montana's Memory Day</em>, is currently being illustrated
										by SCBWI Montana’s Regional Illustrator Coordinator, Erika Wilson, and will launch fall, 2021. This foster-to-adoption story is set in the middle of a Montana winter using an illustration method that (to
										the best of Erika’s knowledge) has never been done before to illustrate a children’s picture book.
										<em>Montana's Memory Day</em> will be published by Mascot Books, a hybrid book publisher in Herndon, Virginia.
									</p>
									<p>
										My writing journey has been a roundabout one. I wrote poetry and a play as a teen in Alabama
										and won 1 st place in a creative writing contest at my high school when I was 17. Then I didn’t
										write again until I was in my 50’s and trying to transition out of healthcare. I joined critique
										groups, took non-credit college courses, entered every writing contest I could find, and attended
										writer’s conferences with stay-awake-all-night excitement. I was fortunate enough to win a few
										of those writing contests. I also racked up enough rejection letters to wallpaper a kitchen.
									</p>
									<p>
										Finally, after working as a Registered Nurse for over 40 years (including college), I gave away or
										threw away all my belongings except for what would fit in my car, and drove 1,900 miles night
										and day from Alabama to Montana to attend college, second time around. I arrived at Rocky Mountain
										College sight-unseen, three hours before the fall registration start time. This time, I majored in
										English: creative writing and soaked up the college experience with new college friends one-third my age. I don’t believe God gives us do-overs, but I’m a strong believer in the “do anew”!
									</p>
									<p class="gallery-wrap">
										<!-- first image is the fullsize the second is the thumb -->
										<a data-fancybox="gallery" href="images/RMC Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=750"><img src="images/RMC Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=180" width="180"></a><a data-fancybox="gallery" href="images/Graduation Day 05-04-2019, Sue Lawrence, Photo credit Marina Eshelman.jpg?nf_resize=fit&w=750"><img src="images/Graduation Day 05-04-2019, Sue Lawrence, Photo credit Marina Eshelman.jpg?nf_resize=fit&w=160" width="160"></a>
		<a data-fancybox="gallery" href="images/Friend zone, Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=750"><img src="images/Friend zone, Graduation 2019, Photo by Ty.jpg?nf_resize=fit&w=180" width="180"></a>
		
									</p>
									<p>
										When I earned my BA degree over a year ago at the age of 60, I was the oldest graduate to cross
										the commencement stage to receive my diploma. I liked the college so much I now work for it by
										day—as a writer, and write my kidlit at night.
									</p>
									<p>
										I’ve been an active member of SCBWI (Society of Children’s Book Writers and Illustrators)
										since 2016, and am SCBWI Montana’s volunteer Instagram social media maven.
									</p>
									<p sty>
										Montana is home now — it’s no surprise that my debut picture book is Montana-themed. I love
										this scenic state and its hard-working folk. I admit—it took me way too long to get here, but
										sometimes the long ‘round-about scenic route’s the best one, anyway. I speak from
										experience—you CAN reroute your life’s GPS at any age. Yes, at ANY age!
									</p>
								<p style="text-align: center;margin-bottom: 5px;">You can follow my journeys on Instagram:
									<ul style="list-style-type:none;text-align: center;margin-top:10px;">
										<li> <a href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a></li>
										<!-- <li> <a href="https://www.instagram.com/scbwimontana/">@scbwimontana</a></li> -->
										<li> <a href="https://www.instagram.com/montanaexplorer/">@montanaexplorer</a></li>
									</ul>
									 </p>
							</div>
							{%include colorlogo.html%}</div>
					</article>

				<!-- Contact section -->
					<article id="contact" class="panel secondary">
						<div class="image">
							<img src="images/kidlitconnection_funforest_clip1.jpg?nf_resize=fit&w=750" alt="" data-position="center center" />
						</div>
						<div class="content">
							<ul class="actions animated spinX">
								<li><a href="#" class="button small back">Back</a></li>
							</ul>
							<div class="inner">
								<header>
									<h2>Contact</h2>
								</header>
								<p>I'd love to hear from you! Find me at <a href="https://www.instagram.com/kidlitconnection/">@kidlitconnection</a> on Instagram or please reach out through the form below. Thanks!</p> <br><br>
								 
								<form name="contact" method="POST" data-netlify="true">
									<p>
									  <label>Name: <input type="text" name="name" /></label>   
									</p>
									<p>
									  <label>Email: <input type="email" name="email" /></label>
									</p>
 									<p>
									  <label>Message: <textarea name="message"></textarea></label>
									</p>
									<p>
									  <button type="submit">Send</button>
									</p>
								  </form>
								  
							</div>
							{%include bwlogo.html%}	</div>
					</article>

			

			{%include footer.njk%}

			</div>

			<script>
				if (window.netlifyIdentity) {
				  window.netlifyIdentity.on("init", user => {
					if (!user) {
					  window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					  });
					}
				  });
				}
			  </script>
			{%include scripts.html%}

	</body>
</html>