---
layout: new_layout.njk
---

<article id="montana-memory-day" class="text-left" >
    <div class="content">
        <div class="inner">
            <header>
                <h2 class="text-center">{{site.Page1_Title}}</h2>
            </header>
            <!-- {%include purchaseCalloutNarrow.html%} -->

        <div class="group">
            <p>
                <div style="float: left;padding-right: 1rem;padding-bottom:1rem;max-width:95%;"><img src="/images/Erika & Sue--When work is like play!.jpg" width="400" alt="" style="max-width:98%" class="little-lightbox2" ><br>  
                    
                {%include photoGalleries.html%}
                
                </div>
                    {{myBooks.myBooks_content_mmd | markdownify | safe}}
            
            
            </p>
            <p class="group"><div style=" margin:inherit auto;display:block; padding-right: 1rem;padding-bottom:1rem;"> <p class="gallery-wrap">
                    <!-- first image is the fullsize the second is the thumb -->
                    {% for item in contact.gallery %}
                    <a data-fancybox="gallery" href="{{item.image}}?nf_resize=fit&w=750"><img src="{{item.image}}?nf_resize=fit&w=300" width="220" class="little-lightbox4a"></a>
                    {%endfor%}


                    <br><span class="photo-credit">click to enlarge</span>
                </p></div>
                {{myBooks.myBooks_content_mmd_lower | markdownify | safe}}
            </p>
            	 {%include colorlogo.html%}	
        </div>
 

<!-- <a href="/illustrator-video/" style="text-decoration: none;border-bottom: 0px solid white;"><img src="images/Video_cover.png?nf_resize=fit&w=350" alt="" class=""></a> -->
<!-- <br><a href="/illustrator-video">Watch a video of the illustrator working!</a> -->
<br> <br>

</article>